@model ATManager.Models.AT_SchedaTecnica

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">
    <h4>AT_SchedaTecnica</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.TextBox("ID", @Html.HiddenFor(model => model.ID))
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDTipoScheda, "IDTipoScheda", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDTipoScheda", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDTipoScheda, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDStatoMezzo, "IDStatoMezzo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDStatoMezzo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDStatoMezzo, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">

            @Html.LabelFor(model => model.CE110, "110", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.RadioButtonFor(model => model.CE110, "1")
            @Html.RadioButtonFor(model => model.CE110, "2")
            @Html.RadioButtonFor(model => model.CE110, "3")
            <font size="1">CONDIZIONI GENERALI DI PULIZIA</font>

        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">

            @Html.LabelFor(model => model.CE112, "112", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.RadioButtonFor(model => model.CE112, "1")
            @Html.RadioButtonFor(model => model.CE112, "2")
            @Html.RadioButtonFor(model => model.CE112, "3")
            <font size="1">RISCHIO INCENDIO</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE115, "115", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE115, "1")
            @Html.RadioButtonFor(model => model.CE115, "2")
            @Html.RadioButtonFor(model => model.CE115, "3")
            <font size="1">TRAFILAMENTO DI OLIO E GASOLIO</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE840, "840", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE840, "1")
            @Html.RadioButtonFor(model => model.CE840, "2")
            @Html.RadioButtonFor(model => model.CE840, "3")
            <font size="1">STATO PASSARUOTE E BAULIERE</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE841, "841", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE841, "1")
            @Html.RadioButtonFor(model => model.CE841, "2")
            @Html.RadioButtonFor(model => model.CE841, "3")
            <font size="1">CONTROLLO FUNZ. APERTURE CHIUSURE/PORTE</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE842, "842", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE842, "1")
            @Html.RadioButtonFor(model => model.CE842, "2")
            @Html.RadioButtonFor(model => model.CE842, "3")
            <font size="1">VERIFICA DEI SISTEMI DI SICUREZZA DELLE PORTE ...</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE843, "843", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE843, "1")
            @Html.RadioButtonFor(model => model.CE843, "2")
            @Html.RadioButtonFor(model => model.CE843, "3")
            <font size="1">CONTROLLO FUNZ. APERTURA DI EMERGENZA PORTE</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE816, "816", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE816, "1")
            @Html.RadioButtonFor(model => model.CE816, "2")
            @Html.RadioButtonFor(model => model.CE816, "3")
            <font size="1">DANNI ALLA CARROZZERIA</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE265, "265", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE265, "1")
            @Html.RadioButtonFor(model => model.CE265, "2")
            @Html.RadioButtonFor(model => model.CE265, "3")
            <font size="1">PNEUMATICI</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE135, "135", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE135, "1")
            @Html.RadioButtonFor(model => model.CE135, "2")
            @Html.RadioButtonFor(model => model.CE135, "3")
            <font size="1">VERIFICA AVVIAMENTO CORRETTO</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE160, "160", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE160, "1")
            @Html.RadioButtonFor(model => model.CE160, "2")
            @Html.RadioButtonFor(model => model.CE160, "3")
            <font size="1">ESAME VISIVO SFIATO MOTORE (FREDDO E CALDO)</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE145, "145", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE145, "1")
            @Html.RadioButtonFor(model => model.CE145, "2")
            @Html.RadioButtonFor(model => model.CE145, "3")
            <font size="1">GIOCO DELLE PULEGGE / STATO CINGHIE</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CE150, "150", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CE150, "1")
            @Html.RadioButtonFor(model => model.CE150, "2")
            @Html.RadioButtonFor(model => model.CE150, "3")
            <font size="1">RUMORI ANOMALI</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CI820, "820", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CI820, "1")
            @Html.RadioButtonFor(model => model.CI820, "2")
            @Html.RadioButtonFor(model => model.CI820, "3")
            <font size="1">STATO DEL PAVIMENTO CON ATTENZIONE AL POSTO GUIDA</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CI825, "825", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CI825, "1")
            @Html.RadioButtonFor(model => model.CI825, "2")
            @Html.RadioButtonFor(model => model.CI825, "3")
            <font size="1">STATO DEI VETRI (CONTROLLO INFILTRAZIONI IN VETRI DOPPI)</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CI835, "835", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CI835, "1")
            @Html.RadioButtonFor(model => model.CI835, "2")
            @Html.RadioButtonFor(model => model.CI835, "3")
            <font size="1">STATO DELLA SELLERIA</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CI837, "837", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CI837, "1")
            @Html.RadioButtonFor(model => model.CI837, "2")
            @Html.RadioButtonFor(model => model.CI837, "3")
            <font size="1">STATO CINTURE DI SICUREZZA</font>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.CI1135, "1135", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.RadioButtonFor(model => model.CI1135, "1")
            @Html.RadioButtonFor(model => model.CI1135, "2")
            @Html.RadioButtonFor(model => model.CI1135, "3")
            <font size="1">STATO CINTURE DI SICUREZZA</font>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                <font color="red">Scheda Chiusa &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                @Html.EditorFor(model => model.IsCompleted)
                @Html.ValidationMessageFor(model => model.IsCompleted, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDPerizia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IDPerizia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IDPerizia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDPreventivoDanno, "IDPreventivoDanno", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IDPreventivoDanno", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDPreventivoDanno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsCompleted)
                        @Html.ValidationMessageFor(model => model.IsCompleted, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
